/**
* cn - 基本用法
*    --
* en - Basic
*    --
 */
import React from 'react';
import { <%= Component %> } from '@sheinx/base';
import { use<%= Component %>Style } from '@sheinx/shineout-style';

export default () => {
  const <%= component %>Style = use<%= Component %>Style();
  return (
    <div>
      <<%= Component %> jssStyle={{ <%= component %>: <%= component %>Style }} />
    </div>
  );
};
